@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1695292829134') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Computer-blue:before {
  content: "\e6b8";
}

.icon-Computer-grey:before {
  content: "\e6b9";
}

